h1 {
    color: #080f79;
    text-align: center;
    font-size: 30px;
    margin-bottom: 60px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}


h1:hover {
    color:#ff7900;
    font-size: 60px;
    transition: 2s, color 3s;
    transition-timing-function: ease-in-out;
}



